@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;800&family=Poppins:wght@300;400;700&display=swap");
* {
  display: block;
  font-family: "Poppins", sans-serif;
  --darkBlue: rgb(53, 53, 102);
  --lightBlue: rgb(226, 240, 253);
  --lightPurple: rgb(153, 153, 226);
}
.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  gap: 10px;
}

.game-board {
  visibility: hidden;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.game-title {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  color: var(--lightPurple);
}
.game-title h2,
h4 {
  padding: 0;
  margin: 0;
}

title {
  display: none;
}
.title-play {
  color: var(--lightPurple);
}
.play-button1,
.play-button2 {
  background-color: var(--darkBlue);
  color: rgb(226, 240, 253);
  font-size: 30px;
  border-radius: 1em;
  padding: 3px 10px 3px 10px;
  width: 100%;
}
.play-button2 {
  display: none;
}
.game-buttons {
  width: 400px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.game-square {
  border: solid 2px var(--lightBlue);
  background-color: var(--darkBlue);
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: rgb(226, 240, 253);
}
.game-square:hover {
  background-color: rgb(82, 82, 141);
}

.players-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(153, 153, 226);
  font-size: 25px;
  gap: 30px;
  padding: 20px;
}
.reset-game {
  display: none;
  background-color: var(--darkBlue);
  color: rgb(226, 240, 253);
  font-size: 30px;
  border-radius: 1em;
  padding: 3px 10px 3px 10px;
  width: 50%;
}
